<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duplicate Finder</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="../js/app/app.js"></script>
    <script src="../js/app/DuplicateController.js"></script>
    <script src="../js/app/DuplicateService.js"></script>
    <script src="../js/app/config.js"></script>


</head>
<body ng-app="MyApp">
<div class="container" ng-controller="DuplicateController">

    <div><h3>Duplicates</h3></div>
    <ul ng-repeat="value in duplicateList">
            <div ng-repeat="val in value">
                <span ng-repeat="(k, v) in val">
                    {{v+","}}
                </span>
            </div>
    </ul>

    <div><h3>Unique</h3></div>
    <ul>
        <div ng-repeat="val in uniqueList">
            <span ng-repeat="(k, v) in val">
                    {{v+","}}
            </span>
        </div>
    </ul>
</div>
</body>
</html>